h1 {
    color: #7b7ef8;
    text-align: center;
}

h2 {
    color: #96b3f7;
}

hr.hr1,
hr.hr2 {
    border-top: 2px dotted purple;
}


div.a {
    color: #AAC4FF;
    list-style-type: circle;
}

.first_ol {
    color: #AAC4FF;
}

#prof {
    color: #7691d1;
    font-style: italic;
}

#soft {
    color: #7691d1;
    font-style: italic;
}

#table {
    color: #AAC4FF;

}

#table td,
#table th {
    border: 1px solid rgb(191, 185, 185);
    padding: 8px;
}

#table th {
    background-color: #5359b0;
    color: rgb(255, 255, 255);
}

#table tr:hover {
    color: rgb(80, 46, 149);
    background-color: rgb(152, 165, 206);
}


#Name {
    color: #5254ee;
    font-style: oblique;
    font-size: large;
}

#lvl {
    color: #5254ee;
    font-style: oblique;
}

body {
    background-color: #EEF1FF;
    font-family: 'Noto Sans Mono', monospace;
    width: 80%;
    margin: 60px auto;
}

.profile {
    float: left;
    margin: 0 40px 10px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


p {
    color: #AAC4FF;
    margin: 40px;
    padding-top: 4em;
}

a:visited {
    color: rgb(72, 33, 159);
}

a:hover {
    background-color: rgb(158, 181, 203);
    font-size: large;
}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 80%;
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
}

img:hover {
    transform: scale(1.1);
}

#replace {
    position: relative;
    left: 260px;
    bottom: 170px
}

.navbar {
    overflow: scroll;
    background-color: #a4a6fb;
    position: fixed;
    top: 0;
    width: 80%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: rgb(152, 165, 206);
    color: rgb(80, 46, 149);
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}