h1 {
    color: #7b7ef8;
    text-align: center;
}

h2 {
    color: #96b3f7;
}

#table {
    color: #AAC4FF;
    border-collapse: collapse;
    width: 100%;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5359b0;
    color: white;
}

#table td,
#table th {
    border: 1px solid rgb(191, 185, 185);
    padding: 8px;
}

#table tr:hover {
    color: rgb(80, 46, 149);
    background-color: rgb(152, 165, 206);
}



body {
    background-color: #EEF1FF;
    font-family: 'Noto Sans Mono', monospace;
    width: 90%;
    margin: 60px auto;
}



p {
    color: #AAC4FF
}