h1 {
    color: #7b7ef8;
    text-align: center;
}

h2,
p {
    color: #AAC4FF;
}

#table_1 {
    color: #AAC4FF;
}


body {
    background-color: #EEF1FF;
    font-family: 'Noto Sans Mono', monospace;
    width: 90%;
    margin: 60px auto;
}

textarea {
    resize: none;
}

input[type=submit] {
    background-color: #5e87ad;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9395f7;
}